a
{
  text-decoration: none;
}

.The_main_items
{
  display: grid;
  grid-template-columns: 30% 30% 30%;

  position: relative;
  top: 250px;
  left: 5%;
  width: 95%;
  gap: 5%;
}
.Updates_section
{
  height: 200px;
  width: 95%;
  background: linear-gradient(to top, #07345e, #03203A);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 50px;

  transform: translateX(0px)
}
.End_of_div
{
      background: linear-gradient(to top, #010B13, #051B31);
      width: 100%;
      height: 50px;
      position: relative;
      bottom: 40px;
      display: grid;
      grid-template-columns: 25% 75%;

}
.End_of_div p
{
width: 100%;
}
.End_of_div i
{
  position: relative;
  top: 30px;
}
.Updates_section:hover
{
    transform:translate(10px, 2px) scale(1.05) ;
    
}
.text_to_low
{
  position: relative;
  bottom: 30px;
}
@media (max-width:1236px) {
  .The_main_items
  {
    display: grid;
    grid-template-columns: 45% 45% ;
  }
  
}
@media (max-width:678px) {
  .The_main_items
  {
    display: grid;
    grid-template-columns: 95%  ;
  }
  
}
@media (max-width:346px) {
  .The_main_items
  {
    display: grid;
    grid-template-columns: 99%  ;
        position: relative;
    top: 40px;
  }
  .Updates_section
  {
    width: 95%;
    height: max-content;

  }
}